    * {
        box-sizing: border-box;
    }
    
    .fr {
        float: right;
    }
    
    .fl {
        float: left;
    }
    
    ul,
    li,
    p,
    h1,
    h2,
    h3 {
        margin: 0;
        padding: 0;
    }
    
    li {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
    }
    
    button,
    select,
    option,
    input[type="text"],
    textarea {
        -webkit-appearance: none;
        outline: none;
        border: 0;
    }
    
    body {
        //    font-family: "Helvetica", "Tahoma", "Arial", "STXihei", "华文细黑", "Heiti", "黑体", "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", "sans-serif";
        font-family: "微软雅黑", "SimSun", "宋体", "sans-serif";
        width: 100%;
    }
    
    .wrapper {
        width: 100%;
        min-width: 1200px;
    }
    
    section {
        .clearfix();
    }
    /*
some table normalize style in here



*/
    
th {
    font-weight: 500;
}


th,
td {
    padding: 0px 20px;
    border: 1px solid #ddddde;
}
