//tool website http://spritegen.website-performance.org/
.stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.sprite {
    background-image: url(../img/spritesheet.png);    background-repeat: no-repeat;
    display: inline-block;

    &.sprite-book-d {
        .stitches-sprite(-5px, -5px, 12px, 12px);
    }

    &.sprite-cale {
        .stitches-sprite(-27px, -5px, 32px, 32px);
    }

    &.sprite-down-b {
        .stitches-sprite(-69px, -5px, 11px, 11px);
    }

    &.sprite-down-blue {
        .stitches-sprite(-90px, -5px, 11px, 11px);
    }

    &.sprite-dropdown {
        .stitches-sprite(-111px, -5px, 8px, 8px);
    }

    &.sprite-dwon-w {
        .stitches-sprite(-129px, -5px, 12px, 12px);
    }

    &.sprite-file-b {
        .stitches-sprite(-151px, -5px, 12px, 12px);
    }

    &.sprite-file-d {
        .stitches-sprite(-173px, -5px, 12px, 12px);
    }

    &.sprite-file-w {
        .stitches-sprite(-195px, -5px, 12px, 12px);
    }

    &.sprite-left-big {
        .stitches-sprite(-217px, -5px, 18px, 18px);
    }

    &.sprite-left-w {
        .stitches-sprite(-245px, -5px, 8px, 8px);
    }

    &.sprite-logo {
        .stitches-sprite(-263px, -5px, 36px, 36px);
    }

    &.sprite-paper-d {
        .stitches-sprite(-309px, -5px, 12px, 12px);
    }

    &.sprite-paper-w {
        .stitches-sprite(-331px, -5px, 12px, 12px);
    }

    &.sprite-right-big {
        .stitches-sprite(-353px, -5px, 18px, 18px);
    }

    &.sprite-right-d {
        .stitches-sprite(-381px, -5px, 12px, 12px);
    }

    &.sprite-right-dark {
        .stitches-sprite(-403px, -5px, 12px, 12px);
    }

    &.sprite-right-w {
        .stitches-sprite(-425px, -5px, 8px, 8px);
    }

    &.sprite-search {
        .stitches-sprite(-443px, -5px, 16px, 16px);
    }

    &.sprite-share-d {
        .stitches-sprite(-469px, -5px, 12px, 12px);
    }

    &.sprite-star-d {
        .stitches-sprite(-491px, -5px, 12px, 12px);
    }

    &.sprite-switch {
        .stitches-sprite(-513px, -5px, 38px, 38px);
    }

    &.sprite-table {
        .stitches-sprite(-561px, -5px, 12px, 12px);
    }

    &.sprite-user {
        .stitches-sprite(-583px, -5px, 16px, 16px);
    }
}

//<i class="sprite sprite-book-d"></i>
//<i class="sprite sprite-cale"></i>
//<i class="sprite sprite-down-b"></i>
//<i class="sprite sprite-down-blue"></i>
//<i class="sprite sprite-dropdown"></i>
//<i class="sprite sprite-dwon-w"></i>
//<i class="sprite sprite-file-b"></i>
//<i class="sprite sprite-file-d"></i>
//<i class="sprite sprite-file-w"></i>
//<i class="sprite sprite-left-big"></i>
//<i class="sprite sprite-left-w"></i>
//<i class="sprite sprite-logo"></i>
//<i class="sprite sprite-paper-d"></i>
//<i class="sprite sprite-paper-w"></i>
//<i class="sprite sprite-right-big"></i>
//<i class="sprite sprite-right-d"></i>
//<i class="sprite sprite-right-dark"></i>
//<i class="sprite sprite-right-w"></i>
//<i class="sprite sprite-search"></i>
//<i class="sprite sprite-share-d"></i>
//<i class="sprite sprite-star-d"></i>
//<i class="sprite sprite-switch"></i>
//<i class="sprite sprite-table"></i>
//<i class="sprite sprite-user"></i>
