@import "func.less";
@import "base.less";
@import "sprite.less";
@blue: #228abf;
@dark-blue: #2a2e3d;
@btn-blue: #398bc2;



/*
turnover-color-block
*/

@c-green: #43b29d;
@c-blue: #388ac1;
@c-red: #cf4a36;
@c-yellow: #e2cd47;
@content-width: 960px;
@content-height: 1500px;
@turnover-color-block-width: 60px;
@turnover-color-block-height: 46px;
.button-style() {
    button {
        width: 51px;
        height: 26px;
        color: #ffffff;
        font: 400 12px / 26px SimHei;
        border-radius: 2px;
        background-color: @btn-blue;
    }
}

//header aside nav
//z-index: 10
//fix the float element over the nav and header
div.header {
    position: fixed;
    z-index: 10;
    height: 56px;
    width: 100%;
    background-color: @blue;
    padding-right: 100px;
    i.sprite-logo {
        margin-left: 50px;
        margin-top: 10px;
    }
    div.search {
        float: right;
        height: 56px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        input {
            height: 28px;
            width: 200px;
            border-radius: 50px;
            padding: 10px;
            padding-left: 30px;
            color: #333;
            font-size: 14px;
            .focus-trans(width, 300px);
        }
        i.sprite-search {
            position: absolute;
            top: 38%;
            left: 8px;
        }
    }
    a.login {
        float: right;
        line-height: 56px;
        i.sprite-user {
            vertical-align: sub;
        }
        span {
            color: #ffffff;
            font: 12px 'Adobe Heiti Std';
            vertical-align: text-bottom;
        }
    }
}

aside {
    position: fixed;
    z-index: 10;
    width: 260px;
    height: 100%;
    left: 0px;
    top: 56px;
    background-color: @dark-blue;
    //padding-top: 20px;
    div.aside-block {
        margin-left: 45px;
        margin-top: 20px;
    }
    div.user-avatar {
        position: relative;
        height: 60px;
        > img {
            border-radius: 50%;
            position: absolute;
            top: 5px;
            left: 5px;
        }
        > p {
            margin-left: 80px;
            padding-top: 20px;
            color: #f7f6f5;
            font: 400 16px / 20.5px SimHei;
        }
        div.circle {
            position: absolute;
            left: 0px;
            top: 0px;
            border: 1px solid #eee;
            height: 57px;
            width: 57px;
            border-radius: 50%;
        }
    }
    div.user-info {
        .clearfix;
        span {
            float: left;
            padding: 0 25px;
            color: #6e8095;
            font: 400 14px / 18px SimHei;
        }
        div.ver-line {
            float: left;
            margin-top: 5px;
            width: 1px;
            background-color: #313545;
            height: 29px;
        }
    }
    div.linklist {
        background-color: #383d4e;
        margin-top: 15px;
        margin-left: 0;
        padding-left: 45px;
        &.no-bg {
            background-color: @dark-blue;
        }
        .text-dark {
            color: #6e8095;
        }
        a {
            line-height: 30px;
            span {
                color: #ededf0;
                font: 400 12px / 12px SimHei;
                margin-left: 5px;
            }
        }
        ul {
            padding-left: 25px;
        }
        i {
            position: relative;
            top: 1px;
        }
        .sprite-file-b,
        .sprite-file-w,
        .sprite-paper-w,
        .sprite-paper-d {
            position: relative;
            left: 6px;
            top: 2px;
        }
        .sprite-right-d,
        .sprite-dwon-w {
            position: relative;
            top: 2px;
        }
    }
}

nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 260px;
    top: 56px;
    height: 31px;
    padding-left: 30px;
    background-color: #fff;
    color: #abaaaa;
    font: 400 12.28px / 22.735px SimHei;
    p {
        line-height: 31px;
        :visited {
            color: #999;
        }
        :link {
            color: #999;
        }
        &:last-child {
            color: @blue;
        }
    }
}

div.content {
    background-color: #eee;
    div.content-wrapper {
        margin-left: 260px;
        padding-top: 110px;
        padding-left: 60px;
        width: @content-width;
        height: @content-height;
    }
}

section.search-row {
    width: 890px;
    height: 85px;
    border: 1px solid #dcdee0;
    border-bottom: 1px solid #e5e6e6;
    background-color: #fff;
    padding: 14px 0px;
    border-radius: 2px;
    div[class|="search"] {
        position: relative;
        //display: inline-block;
        float: left;
        margin-left: 30px;
        vertical-align: text-top;
        span {
            color: #abaaaa;
            font: 400 12px / 26px SimHei;
            margin-left: 8px;
        }
        select {
            border: 1px solid #cbcbcb;
            color: #323333;
            font: 400 12px / 26px SimHei;
            background-repeat: no-repeat;
            background-position: ~"calc(100% - 8px)" 50%;
            background-repeat: no-repeat;
            &:focus {
                background-image: url(../img/down-blue.png);
            }
            height: 26px;
            margin-left: 4px;
            &.w71 {
                width: 71px;
            }
        }
        hr {
            border: 0;
            margin: 3px;
        }
    }
    div.search-one {
        margin-left: 30px;
        height: 100%;
        vertical-align: text-top;
        select {
            border: 1px solid #cbcbcb;
            padding: 0px 20px 0px 10px;
            color: #323333;
            font: 400 12px / 26px SimHei;
            background-image: url(../img/down-b.png);
            
            
        }
    }
    div.search-two {
        margin-right: 38px;
        select {
            border: 1px solid #cbcbcb;
            padding: 0px 20px 0px 10px;
            color: #323333;
            font: 400 12px / 26px SimHei;
            background-image: url(../img/down-b.png);
            width: 121px;
        }
        &:after {
            content: "";
            float: left;
            position: absolute;
            left: 162px;
            top: 9px;
            .stitches-sprite(-513px, -5px, 38px, 38px);
            background-image: url(../img/spritesheet.png);
            background-repeat: no-repeat;
            display: inline-block;
        }
    }
    div.search-three {
        select {
            border: 1px solid #cbcbcb;
            padding: 0px 20px 0px 10px;
            color: #323333;
            font: 400 12px / 26px SimHei;
            background-image: url(../img/down-b.png);
            width: 121px;
        }
    }
    div.search-btn {
        .button-style();
        button {
            margin-top: 15px;
        }
    }
}

section.history-row {
    width: 890px;
    height: 65px;
    margin-top: 8px;
    div,
    button,
    a {
        border-top: 1px #dadcde solid;
        border-left: 1px #dadcde solid;
        background-color: #fff;
    }
    button {
        float: left;
        height: 65px;
        line-height: 65px;
        width: 30px;
    }
    div.history-turnover {
        margin-left: 5px;
        float: left;
        width: 110px;
        height: 65px;
        border-radius: 2px;
        padding: 8px 15px;
        transition: all .15s ease-in-out;
        border-top: 1px solid #dadcde;
        p.time {
            color: #323333;
            font: 400 12px / 16px 'Microsoft YaHei';
            margin-left: 5px;
        }
        p.price {
            color: #abaaaa;
            font: 400 14px / 26px SimHei;
            b {
                color: #ec6500;
                font: 400 21px 'Microsoft YaHei';
            }
        }
        &:hover {
            border-top: 4px solid #4388c8;
        }
        &.hover {
            border-top: 4px solid #4388c8;
        }
    }
    .history-right {
        margin-left: 5px;
    }
    a.history-search {
        float: right;
        width: 131px;
        height: 65px;
        background-color: #fff;
        i {
            margin-top: 12.5%;
            margin-left: 20px;
        }
        span {
            margin-left: 5px;
            color: #535353;
            font: 400 12px / 16.57px 'Microsoft YaHei';
            line-height: 65px;
            vertical-align: top;
        }
    }
}

section.info-row {
    height: 100px;
    margin-top: 8px;
    width: 890px;
    > p {
        color: #323333;
        font: 400 12px / 24px 'Microsoft YaHei';
    }
    div.turnover-block {
        position: relative;
        float: left;
        width: 200px;
        height: 70px;
        border: 1px #e5e5e5 solid;
        background-color: #fff;
        border-radius: 2px;
        border-left: 3px transparent solid;
        box-shadow: 0 0 2px 0px #ddd;
        padding: 12px 10px;
        p {
            color: #abaaaa;
            font: 400 10px / 20.047px SimHei;
            &.turnover-num {
                color: #323333;
                font: 400 13px / 24.608px SimHei;
            }
        }
        &:not(:first-of-type) {
            margin-left: 30px;
        }
        &:after {
            content: "";
            position: absolute;
            float: right;
            width: @turnover-color-block-width ;
            height: @turnover-color-block-height;
            right: calc(~"21% - "@turnover-color-block-width /2);
            top: calc(~"50% - "@turnover-color-block-height /2);
        }
        //@block-border-color, @border-width, @nth: 1
        .turnover-color-block-func ( @c-green, 3px, 1);
        .turnover-color-block-func ( @c-blue, 3px, 2);
        .turnover-color-block-func ( @c-red, 3px, 3);
        .turnover-color-block-func ( @c-yellow, 3px, 4);
    }
}


/*table-row default sytle */

section.table-row {
    margin-top: 8px;
    width: 100%;
    div.project-table {
        height: 315px;
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid #e5e5e5;
        box-shadow: 0 0 2px 0px #ddd;
        float: left;
        &.table {
            width: 530px;
        }
        &.info {
            width: 350px;
            margin-left: 10px;
        }
        &.cale {
            width: 350px;
            margin-right: 10px;
        }
        div.table-title {
            height: 40px;
            width: 100%;
            border-radius: 8px 8px 0 0;
            border-bottom: 1px solid #e7e8eb;
            background-color: #f3f5f6;
            p {
                color: #abaaaa;
                font: 400 12px / 40px SimHei;
                text-indent: 20px;
            }
        }
    }
}

div.project-table {
    div.table-content {
        padding: 10px 15px;
        text-align: center;
        .tabs input {
            display: none;
            cursor: pointer;
        }
        .tabs input#tab-2 {
            left: 120px;
        }
        .tabs input#tab-3 {
            left: 240px;
        }
        .tabs input#tab-4 {
            left: 360px;
        }
        .tabs label {
            background: #e5e5e5;
            height: 26px;
            //                position: relative;
            //padding: 0 10px;
            float: left;
            //                display: block;
            width: 85px;
            margin-right: 5px;
            color: #535353;
            font: 400 12px / 26px 'Microsoft YaHei';
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
            border-radius: 3px 3px 0 0;
            border: 1px solid #e5e5e5;
            border-bottom: none;
        }
        .tabs label:after {
            //                content: '';
            //                background: #fff;
            //                position: absolute;
            //                bottom: -2px;
            //                left: 0;
            //                width: 100%;
            //                height: 2px;
            //                display: block;
        }
        .tabs input:hover + label {
            background: #5ba4a4;
        }
        .tabs label:first-of-type {
            z-index: 5;
            box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
        }
        .tab-label-2 {
            z-index: 4;
        }
        .tab-label-3 {
            z-index: 3;
        }
        .tab-label-4 {
            z-index: 2;
        }
        .tab-label-5 {
            z-index: 1;
        }
        .tabs input:checked + label {
            background: #fff;
            z-index: 7;
            border: 1px solid #cacbcb;
            border-bottom: none;
        }
        .clear-shadow {
            clear: both;
        }
        .content {
            background: #fff;
            position: relative;
            width: 100%;
            height: 220px;
            z-index: 5;
            border: 1px solid #cacbcb;
            //border-top: none;
            ///box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.1);
            border-radius: 0 2px 2px 2px;
        }
        .content div {
            position: absolute;
            color: #535353;
            font: 400 12px / 30px SimSun;
            top: 0;
            left: 0;
            //                padding: 10px 40px;
            z-index: 1;
            opacity: 0;
            -webkit-transition: opacity linear 0.1s;
            -moz-transition: opacity linear 0.1s;
            -o-transition: opacity linear 0.1s;
            -ms-transition: opacity linear 0.1s;
            transition: opacity linear 0.1s;
        }
        .tabs input.tab-selector-1:checked ~ .content .content-1,
        .tabs input.tab-selector-2:checked ~ .content .content-2,
        .tabs input.tab-selector-3:checked ~ .content .content-3,
        .tabs input.tab-selector-4:checked ~ .content .content-4,
        .tabs input.tab-selector-5:checked ~ .content .content-5 {
            z-index: 100;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            opacity: 1;
            -webkit-transition: opacity ease-out 0.2s 0.1s;
            -moz-transition: opacity ease-out 0.2s 0.1s;
            -o-transition: opacity ease-out 0.2s 0.1s;
            -ms-transition: opacity ease-out 0.2s 0.1s;
            transition: opacity ease-out 0.2s 0.1s;
        }
        .content div h2,
        .content div h3 {
            color: #398080;
        }
        .content div p {
            font-size: 14px;
            line-height: 22px;
            font-style: italic;
            text-align: left;
            margin: 0;
            color: #777;
            padding-left: 15px;
            font-family: Cambria, Georgia, serif;
            border-left: 8px solid rgba(63, 148, 148, 0.1);
        }
    }
}

div.table-content {
    div.content {
        div[class|="content"] {
            padding: 20px 35px;
            th,
            td {
                padding: 0px 20px;
                border: 1px solid #ddddde;
                .hover-trans(bgc, #ddd);
                transition: all .1s ease-in-out;
            }
        }
    }
}

div.info-content {
    position: relative;
    padding: 15px 35px;
    hr {
        border: none;
        border-top: 1px solid #e5e5e5;
    }
    p,
    span {
        color: #535353;
        font: 400 12px / 24.57px 'Microsoft YaHei';
        text-indent: 15px;
    }
    .info-title {
        color: #c3c2c2;
        font: 400 12px / 20.57px 'Microsoft YaHei';
    }
    div.price-principal {
        .clearfix();
        width: 100%;
        .col-3 {
            border: 1px solid #e5e5e5;
            border-left: none;
            border-right: none;
            width: 34%;
            float: left;
        }
        .col-7 {
            border: 1px solid #e5e5e5;
            border-right: none;
            width: 100%-34%;
            float: left;
        }
    }
    div.detail {
        height: 100px;
    }
    div.sreach-post {
        p {
            float: left;
        }
        input[type="checkbox"] {
            vertical-align: text-bottom;
            margin-right: 8px;
        }
        .button-style();
        button {
            float: right;
        }
    }
}

div.ranglist {
    text-align: left;
    padding: 15px 35px;
    color: #000;
    th,
    td {
        padding: 3px 20px;
        font: 500 13px SimHei;
    }
    thead {
        tr {
            .hover-trans(bgc, #fff);
        }
        th {
            .hover-trans(bgc, #fff);
        }
    }
    tr {
        .hover-trans(bgc, #f3f5f6);
        transition: all .1s ease-in-out;
        &:hover {
            cursor: pointer;
        }
    }
    
    .ranglist-line(0.85, #ed6e52, 1);
    .ranglist-line(0.80, #ef8150, 2);
    .ranglist-line(0.75, #f19f4f, 3);
    .ranglist-line(0.70, #7fcbf0, 4);
    .ranglist-line(0.65, #7ecaef, 5);
    .ranglist-line(0.60, #7ecaf0, 6);
    .ranglist-line(0.55, #7ecaef, 7);
    .ranglist-line(0.50, #7fcbf0, 8);
    .ranglist-line(0.45, #7fcbf0, 9);
    .ranglist-line(0.40, #91cceb, 10);
    
    
       
}